*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board{
  display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  background-color: #306437;
  width: 80vh;
  height: 80vh;
  margin: 0 auto;
  list-style: none;
  border: 2px solid #111;

  li{
    width: percentage(1 / 8);
    border: 2px solid #111;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
